:root{
    --primary: #4BA598;
    --secondary: #F2F2F2;
}

body{
    font-family: sans-serif;
    margin: 0;
}

h1{
    margin: 0;
    color: #fff;
    font-weight: 300;
    font-size: 5rem;
}
h2{
    margin: 0;
}

/* HEADER */

.container-header{
background-color: var(--primary);
}

#location{
    text-align: center;
    padding: 3rem 0;
}

#location span{
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* MAIN */

.main{
    padding: 0 1rem;
    background-color: var(--secondary);
    padding-bottom: 10rem;
}


/* POLLENDATA SECTION */

#pollenData{
    padding-top: 2rem;
}

#pollenData ul{
    padding: 0;
    margin: 0 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#pollenData li{
    position: relative;
    padding: 3rem 1rem 3rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 3.5vw;
    font-weight: 600;
    list-style: none;
    text-align: end;
    background-color: white;
    border: 3px solid var(--primary);
    border-radius: 2vw;
}

#pollenData img{
    display: block;
    width: 35vw;
    height: 30vw;
    margin-left: 1rem;
    position: absolute;
    border-radius: 2vw;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}



.footer-main {
    background-color: var(--primary);
    padding: 3rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}